<?php

return array(
  'mysql.host' => '{{mysql_host}}',
  'mysql.user' => 'root',
  'mysql.pass' => '{{mysql_root_password}}',
  'log.access.path' => '/var/log/phabricator/access.log',
  'log.ssh.path' => '/var/log/phabricator/ssh.log',
  'phd.pid-directory' => '/var/run/phabricator/',
  'phd.log-directory' => '/var/log/phabricator/',
  'phd.user' => '{{ phabricator_daemon_user }}',
  'environment.append-paths' => ['/usr/libexec/git-core/'],
  'diffusion.ssh-user' => '{{ phabricator_vcs_user }}',
  'welcome.html' => '<h2>this is a welcome html</h2><p>We can do all sorts of stuff with it! <ul><li>lists</li><li><a href="http://roshi.fedorapeople.org/dexy/">Links to docs</a></li><li>...</li></ul></p>'
);
