SECRET_KEY = '{{ flask_secret_key }}'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2://{{dbuser}}:{{dbpassword}}@{{dbhost}}:{{dbport}}/{{dbname}}'
FAS_ADMIN_GROUP = "qa-admin"
FAS_USER = "{{ fas_user }}"
FAS_PASSWORD = "{{ fas_password }}"
BUGZILLA_COOKIE = "/usr/share/blockerbugs/.bugzillacookies"
FILE_LOGGING = False
SYSLOG_LOGGING = True
STREAM_LOGGING = True
PRODUCTION = False
