127.0.0.1      localhost localhost.localdomain {{ inventory_hostname }}
10.5.126.23    infrastructure.fedoraproject.org
10.5.126.23    puppet.fedoraprojectoject.org    puppet    puppet01    puppet01.phx2.fedoraproject.org
10.5.126.52    admin.fedoraproject.org
10.5.125.151   cvs.fedoraproject.org    cvs
10.5.125.36    kojipkgs.fedoraproject.org
66.35.62.166   mirrors.fedoraproject.org
10.5.126.27    archives.fedoraproject.org
10.5.125.44    pkgs.fedoraproject.org    pkgs
10.5.125.63    koji.fedoraproject.org
10.5.126.79    ask01.fedoraprojectojectt.org    ask01

# this is added manually and can't be discarded
# some of ofur tests depend on it
10.5.126.23    dl.fedoraproject.org
10.5.126.23    download.fedoraproject.org
